{% extends 'base.html.twig'%}

{% block body %}

  <ul>
  {% if errors is defined %}
    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
  {% endif %}  

</ul>
<h1>Creé un Article </h1>

<form action="{{path('blog_create')}}" method="post">

<input type="text" name="title" placeholder="Titre de l'article">
<textarea name="content" placeholder="Contenu de l'article"></textarea>
<input type="text" name="image" placeholder="Image de l'article">
<button type="submit">Enregister</button>
</form>
{% endblock %}