{% extends ('base.html.twig')%}
{% block body %}
<h1>Bienvenue dans ce blog</h1>
<p>lorem Occaecat consectetur Lorem incididunt id Lorem do mollit labore ullamco qui exercitation enim nostrud laborum. Enim consequat nulla eiusmod est cillum eu excepteur occaecat nostrud duis officia quis magna do. Proident adipisicing ad fugiat ut Lorem amet minim consequat. Nostrud sint sit non dolor occaecat laborum.Esse occaecat sunt officia aliqua est commodo cupidatat ipsum.<p/>
{% endblock %}

