{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
  {% for i in 0..5 %}
  <section class="article">
        <h2>Pariatur culpa pariatur culpa ad sint magna.</h2>
        <div class="metadata">Ecrit le 10/05/2018 
        Ullamco anim deserunt aute ipsum ipsum ex nostrud ut.
        </div>
        <div class="content">
        <img alt="" src="http://placehold.it/350x150">
        <p>Est ea aute quis elit nostrud. Ut veniam pariatur 
        officia officia Lorem sint culpa laborum officia adipisicing
         Lorem ad commodo aliquip. Pariatur cillum reprehenderit 
         </p>
         <p>consequat occaecat culpa consectetur aliqua veniam.
          Nulla exercitation aliqua incididunt ullamco ea 
          proident anim veniam. Adipisicing sint cillum sunt 
          pariatur amet adipisicing occaecat eu irure 
          id cupidatat ullamco id labore.
          <a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite </a>
          </p>
          </div>
  </article>
    {% endfor %}
{% endblock %}
